@font-face {
  font-family: "iconfont"; /* Project id 2530022 */
  src: url('//at.alicdn.com/t/font_2530022_8dxcs9v37zo.woff2?t=1620356385103') format('woff2'),
       url('//at.alicdn.com/t/font_2530022_8dxcs9v37zo.woff?t=1620356385103') format('woff'),
       url('//at.alicdn.com/t/font_2530022_8dxcs9v37zo.ttf?t=1620356385103') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuque:before {
  content: "\e603";
  color: greenyellow;
}

.icon-csdn:before {
  content: "\e601";
  color: red;
}

.icon-guanyu1:before {
  content: "\e65e";
  color: deepskyblue;
}

.icon-lianjie-tianchong:before {
  content: "\e602";
  color: indianred;
}

.icon-xiangce:before {
  content: "\e7de";
  color: hotpink;
}

.icon-sousuo1:before {
  content: "\e600";
  color: orangered;
}

.icon-biaoqian:before {
  content: "\f4d6";
  color: orange;
}

.icon-gerenshezhi:before {
  content: "\f4e3";
  color: skyblue;
}

.icon-wodezhuifan:before {
  content: "\e6d8";
  color: violet;
}

.icon-yinle:before {
  content: "\e619";
  color: chartreuse;
}

.icon-yinle1:before {
  content: "\e630";
  color: cyan;
}

.icon-quanbu:before {
  content: "\e624";
  color: lightseagreen;
}

.icon-timeAxis:before {
  content: "\e645";
  color: lightcoral;
}

.icon-fenlei1:before {
  content: "\f026";
  color: aquamarine;
}

.icon-biaoqian_huaban1:before {
  content: "\e605";
  color: honeydew;
}

.icon-shouye_huaban1:before {
  content: "\e60c";
  color: khaki;
}


